.header{
    width:95vw;
    padding:0 3rem;
    margin:0;
    display:flex;
    justify-content: space-between;
    background-color: burlywood;
    color:white;

}
.header-left{
    display:flex;
   
}
.header-left-paragraph{
    margin-left:0.5rem;
}
.user-link{
    color:white;
    text-decoration: none;
}